body { 
    background-image: url(https://lh3.googleusercontent.com/yAtZnNL-9Eb5VYSsCaOC7KAsOVIJcY8mpKa0MoF-0HCL6b0OrFcBizURHywpuip-D6Y);
}
main {
    width: 80%;
    display: flex;
    margin:0 auto;
}

nav {
    width: 15%;
    font-size: 2em;
    background-color: blueviolet;
    margin: 6em;
    border: 5px solid black;
}

section {
    width: 80%;
    background-color: blue;
    padding: 20px;
}

h1 {
text-align: center;
}

a{
    text-decoration: none;
}

a:hover {
    color: aqua;
}